@mixin icon($size, $color, $animation-time: 0.15s, $animation-ease: ease-out) {
    .icon__wrapper {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;

        + * {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            width: $size;
            height: $size;
        }

        .icon > * {
            fill: $color;
            transition: fill $animation-time $animation-ease;
        }
    }
}
