{
    "presets": ["es2015"],
    "plugins": [],
    "env": {
        "test": {},
        "dev": {},
        "staging": {
            "plugins": [
                ["transform-es2015-classes"]
            ]
        },
        "production": {
            "plugins": [
                ["transform-es2015-classes"]
            ]
        }
    }
}
