@mixin button-alt($background: transparent, $background-hover: transparent, $text-color: currentColor, $text-color-hover: currentColor) {
    background: $background;
    color: $text-color;

    &:hover,
    &.is-hover {
        background: $background-hover;
        color: $text-color-hover;

        .icon__wrapper .icon {
            > * {
                fill: $text-color-hover;
            }
        }
    }

    .icon__wrapper .icon {
        > * {
            fill: $text-color;
        }
    }
}

@mixin button-transparent($text-color: currentColor, $border: 1px solid currentColor, $text-color-hover: currentColor, $border-color-hover: currentColor, $animation-time: 0.15s, $animation-ease: ease-out) {
    background: transparent;
    color: $text-color;
    border: $border;
    transition: color $animation-time $animation-ease, border-color $animation-time $animation-ease;

    &:hover,
    &.is-hover {
        background: transparent;
        color: $text-color-hover;
        border-color: $border-color-hover;

        .icon {
            > * {
                fill: $text-color-hover;
            }
        }
    }

    .icon {
        > * {
            fill: $text-color;
        }
    }
}

@mixin button-inverse($background: transparent, $text-color: currentColor, $background-hover: transparent, $text-color-hover: currentColor) {
    background: $background;
    color: $text-color;

    &:hover,
    &.is-hover {
        background: $background-hover;
        color: $text-color-hover;

        .icon__wrapper .icon {
            > * {
                fill: $text-color-hover;
            }
        }
    }

    .icon__wrapper .icon {
        > * {
            fill: $text-color;
        }
    }
}

@mixin button($padding: 5px, $font-size: inherit, $background: transparent, $background-hover: transparent, $border: none, $text-color: currentColor, $text-color-hover: currentColor, $icon-size: 1em, $animation-time: 0.15s, $animation-ease: ease-out) {
    display: inline-block;
    vertical-align: middle;
    padding: $padding;
    background: $background;
    color: $text-color;
    font-size: $font-size;
    text-transform: uppercase;
    text-align: center;
    border: $border;
    outline: none;
    cursor: pointer;
    transition: background $animation-time $animation-ease, color $animation-time $animation-ease;

    &,
    &:hover,
    &.is-hover {
        text-decoration: none;
    }

    &:hover,
    &.is-hover {
        background: $background-hover;
        color: $text-color-hover;

        .icon {
            > * {
                fill: $text-color-hover;
            }
        }
    }

    > * {
        display: inline-block;
        vertical-align: middle;
        margin-top: 1px;
    }

    .icon {
        width: $icon-size;
        height: $icon-size;

        > * {
            fill: $text-color;
            transition: fill $animation-time $animation-ease;
        }
    }
}
