@mixin checkbox($size: 1em, $font-size: inherit, $border: 1px solid currentColor, $active-color: currentColor, $error-color: red, $success-color: green) {
    input[type="checkbox"].checkbox-custom {
        display: none;

        &:checked + label.checkbox-custom .checkbox-custom__button:before {
            display: block;
        }
    }

    label.checkbox-custom {
        &,
        & .checkbox-custom__button {
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size;
        }

        & .checkbox-custom__button {
            width: $size;
            height: $size;
            margin-right: $size / 2;
            border: $border;

            &::before {
                content: "✔";
                display: none;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                margin: 2px 0 0 2px;
                color: $active-color;
            }
        }
    }

    // ------------------
    // Validation

    .has-error {
        label.checkbox-custom .checkbox-custom__button {
            border-color: $error-color;
        }
    }

    label.checkbox-custom.has-error .checkbox-custom__button {
        border-color: $error-color;
    }

    .has-success {
        label.checkbox-custom .checkbox-custom__button {
            border-color: $success-color;
        }
    }

    label.checkbox-custom.has-success .checkbox-custom__button {
        border-color: $success-color;
    }
}

@mixin radio($size: 1em, $font-size: inherit, $border: 1px solid currentColor, $active-color: currentColor, $error-color: red, $success-color: green) {
    input[type="radio"].radio-custom {
        display: none;

        &:checked + label.radio-custom .radio-custom__button:before {
            display: block;
        }
    }

    label.radio-custom {
        &,
        & .radio-custom__button {
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size;
        }

        & .radio-custom__button {
            width: $size;
            height: $size;
            margin-right: $size / 2;
            border: 1px solid $border;
            border-radius: 20px;

            &::before {
                content: "";
                display: none;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                margin: 2px 0 0 2px;
                background: $active-color;
                border-radius: 10px;
            }
        }
    }

    // ------------------
    // Validation

    .has-error {
        label.radio-custom .radio-custom__button {
            border-color: $error-color;
        }
    }

    label.radio-custom.has-error .radio-custom__button {
        border-color: $error-color;
    }

    .has-success {
        label.radio-custom .radio-custom__button {
            border-color: $success-color;
        }
    }

    label.radio-custom.has-success .radio-custom__button {
        border-color: $success-color;
    }
}
