@import "./breakpoints.scss";

*,
input[type="search"] {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

// -------------------------------
// Media related

.is-mobile {
    display: none;

    @include breakpoint(small) {
        display: block;
    }
}

.is-tablet {
    display: none;

    @include breakpoint(medium, "between") {
        display: block;
    }
}

.is-desktop {
    display: none;

    @include breakpoint(large, "between") {
        display: block;
    }
}

.is-over {
    display: none;

    @include breakpoint(huge, "at-least") {
        display: block;
    }
}
