/*******************
* Links
********************/
a {
    &,
    &:visited,
    &:focus {
        outline: none;
    }
}

.cta-link {
    font-size: inherit;
    line-height: 1;

    &:hover {
        text-decoration: none;

        > span {
            text-decoration: underline;
        }
    }

    &.is-alt {
        > *,
        &::after {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &::after {
        content: "»";
        margin-top: -0.1em;
        margin-left: 0.53em;
        font-size: 1.33em;
    }
}

.back-cta-link {
    &::before {
        content: "«";
        margin-right: 8px;
        font-size: 20px;
    }

    &::after {
        content: normal;
    }
}
