$breakpoint-tiny: 320px;
$breakpoint-small: 767px;
$breakpoint-medium: 959px;
$breakpoint-large: 1240px;
$breakpoint-huge: 1799px;

$padding-huge: 15px;
$padding-large: 15px;
$padding-medium: 20px;
$padding-small: 10px;
